﻿body {
    padding-top: 5%;
    padding-left: 1%;
    background: #fafafa;
}

label {
    font-weight:normal;
}

.registerform {
    margin: 40px auto auto auto;
}

.addform {
    margin: 40px auto auto auto;
}

.loginform {
    margin: 40px auto auto auto;
}

.textcenter {
    text-align: center;
}


