﻿<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Adress</th>
                <th>City</th>
                <th>Country</th>
                <th>Postal Code</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var profile in Model)
            {
                <tr>
                    <td>@profile.FirstName</td>
                    <td>@profile.LastName</td>
                    <td>@profile.Adress</td>
                    <td>@profile.City</td>
                    <td>@profile.Country</td>
                    <td>@profile.PostalCode</td>
                </tr>
            }
        </tbody>
    </table>
</div>