﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Todo App</title>
   @await Html.PartialAsync("_ScriptStylePartial")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="ToDo" asp-action="Index" class="navbar-brand">Todo App</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "ToDo")</li>
                    <li>@Html.ActionLink("Profile", "Profile", "User")</li>
                </ul>
                <vc:login-status></vc:login-status>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Todo App</p>
        </footer>
    </div>  

    @RenderSection("scripts", required: false)
</body>
</html>