﻿@model List<ToDoItem>

<div class="table-responsive">
    <table id="js-todos" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Start</td>
                    <td>@item.Deadline</td>
                    <td>@item.Status</td>
                    <td>@item.Description</td>
                    <td>
                        <a asp-controller="Admin" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td>
                        <button data-item-id="@item.Id" class="btn btn-danger js-Remove"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>