﻿<form method="post" asp-controller="User" asp-action="Logout">
    <ul class="nav navbar-nav navbar-right">
        <li><a>Hello @Model.UserName</a></li>
        <li><button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button></li>
    </ul>
</form>