﻿@model LoginViewModel

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <form class="form-horizontal well loginform" method="post" asp-controller="User" asp-action="Login">
                <div asp-validation-summary="ModelOnly"></div>
                <fieldset class="legend-brdr-bttm">
                    <legend class="textcenter">Login</legend>

                    <div class="form-group">
                        <label asp-for="UserName" class="col-sm-3 control-label"></label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input asp-for="UserName" class="form-control" placeholder="Enter user name" />
                            </div>
                            <span asp-validation-for="UserName" class="text-warning"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="col-sm-3 control-label"></label>
                        <div class="col-xs-12 col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input asp-for="Password" class="form-control" placeholder="Enter password" />
                            </div>
                            <span asp-validation-for="Password" class="text-warning"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-success">Login</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>   
</div>