﻿@model RegisterViewModel

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <form class="form-horizontal well registerform" method="post" asp-controller="User" asp-action="Register">
                <div asp-validation-summary="ModelOnly"></div>
                <fieldset class="legend-brdr-bttm">
                    <legend class="textcenter">Register</legend>
                    <div class="form-group">
                        <label asp-for="UserName" class="col-sm-4"></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input asp-for="UserName" class="form-control" placeholder="User name" />
                            </div>
                            <span asp-validation-for="UserName" class="text-warning"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-sm-4"></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input asp-for="Email" class="form-control" placeholder="Email" />
                            </div>
                            <span asp-validation-for="Email" class="text-warning"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="col-sm-4"></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input asp-for="Password" class="form-control" placeholder="Password" />
                            </div>
                            <span asp-validation-for="Password" class="text-warning"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="col-sm-4"></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="legend-brdr-bttm">
                    <legend class="textcenter">Optional</legend>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label asp-for="FirstName"></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                            </div>
                            <span asp-validation-for="FirstName" class="text-warning"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="LastName"></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                            </div>
                            <span asp-validation-for="LastName" class="text-warning"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label asp-for="Adress"></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input asp-for="Adress" class="form-control" placeholder="Adress"/>
                            </div>
                            <span asp-validation-for="Adress" class="text-warning"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label asp-for="City"></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input asp-for="City" class="form-control"  placeholder="City"/>
                            </div>
                            <span asp-validation-for="City" class="text-warning"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="PostalCode"></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input asp-for="PostalCode" class="form-control" placeholder="Postal Code"/>
                            </div>
                            <span asp-validation-for="PostalCode" class="text-warning"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label asp-for="Country"></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
                                <input asp-for="Country" class="form-control" placeholder="Country"/>
                            </div>
                            <span asp-validation-for="Country" class="text-warning"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-success">Register</button>
                        </div>
                        <div class="col-xs-4">                            
                            <a asp-controller="ToDo" asp-action="Index" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>