﻿<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Start</td>
                        <td>@item.Deadline</td>
                        <td>@item.Status</td>
                        <td>@item.Description</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <a asp-controller="ToDo" asp-action="Add" class="btn btn-success add">Add</a>
        </div>
    </div>
</div>