﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @await Html.PartialAsync("AdminStyleScriptPartial")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-sm-pull-0 col-md-2 col-md-pull-1">
                <div class="list-group panel">
                    <a class="list-group-item" href="@Url.Action("Index","Admin")"><span class="glyphicon glyphicon-home"></span> Home</a>
                    <a class="list-group-item" data-toggle="collapse" data-target="#menu"><span class="glyphicon glyphicon-align-justify"></span> Menu</a>
                    <div class="collapse" id="menu">
                        <a class="list-group-item" href="@Url.Action("Items","Admin")"><span class="glyphicon glyphicon-tasks"></span> List</a>
                        <a class="list-group-item" href="@Url.Action("Add","Admin")"><span class="glyphicon glyphicon-plus"></span> Add</a>
                    </div>
                    <form method="post" asp-controller="Admin" asp-action="Logout">
                        <button type="submit" class="list-group-item"><span class="glyphicon glyphicon-off"></span> Logout</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-10 col-md-8">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <div class=" col-md-12">
                <hr />
                <footer>
                    <p>&copy; 2017 - Zadatak3</p>
                </footer>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>